<form id="login-form" action="/login" method="POST" id="form">
  <label for="email">Email</label>
  <input type="text" name="email" id="email">
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
  <button>Submit</button>
  <a href="#/register" class="option">Don't have an account?</a>
</form>