<form id="edit-form" action="#/edit/{{id}}" method="POST" class="edit-form">
    {{#each post}}
    <h1>Edit Post</h1>
    <label for="title">Title</label>
    <input type="text" name="title" value={{title}}>
    <label for="category">Category</label>
    <input type="text" name="category" value={{category}}>
    <label for="content">Content</label>
    <textarea name="content" cols="30" rows="7">{{content}}</textarea>
    <button>Edit</button>
    <a href="#/home" id="close-btn"><img src="../../images/close.png"></a>
    {{/each}}
</form>